/* .form-div{
    text-align: center;
  position: relative;
  top: 15rem;
}

img {
    width: 72px;
    height: 57px;
}
.input {
    height: 3.5rem;
    width: 20rem;
    border-radius: 0.25rem;
   box-sizing: border-box;
   border: var(--bs-border-width) solid var(--bs-border-color);
}
.btn {
    width: 20rem;
    margin-top: 13px;
}
.rem {
    margin-top: 15px;
}
h3 {
    padding-top: 15px;
}
.year {
    color: var(--bs-secondary-color)!important;
} */